<ion-header hideBackButton>
  <ion-navbar color="navred" hideBackButton>
    <ion-title style="padding:0 10px">
      <span float-left>Ques.{{i}}</span> <span float-right >00:0{{time}}
      </span>
    </ion-title>
  </ion-navbar>
  <!-- <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Song+Myung|Sunflower:300" rel="stylesheet">
</ion-header>

<ion-content padding>
    <!-- <button ion-button (click)='takeQuestion()'> Get Question</button> -->
    <!-- <button ion-button (click)='takeOptions()'>Get Options</button> -->
    <!-- <button ion-button (click)='increase()'>Next</button> -->
  
    <!-- <h2>Question : {{ques}}</h2>
    <h4>A. {{optionA}}</h4>
    <h4>B. {{optionB}}</h4>
    <h4>C. {{optionC}}</h4>
    <h4>D. {{optionD}}</h4> -->
<div> 

    <h1 *ngIf='q<=w'>{{ques}}</h1>
  <ion-item *ngFor='let opt of options; let i = index'>
    <ion-label (click)='cClick(i)' *ngIf='status[i];else hhh' style="color:rgb(3, 85, 84)" >
      {{opt}}
      </ion-label>
      <ng-template #hhh>
        <ion-label  (click)='cClick(i)'>
          {{opt}}
        </ion-label>
      </ng-template>
   
  </ion-item>
  
</div>
<h2 *ngIf='q>w'>Test Finished</h2>
<button outline *ngIf='q>w' class="btn" color="navred"  ion-button (click)="onDone()">View Result</button>
<button outline *ngIf='w==i' class="btn" color="navred" (click)='onFinish()' ion-button>Finish Test</button>

  <!-- <h3>{{questions.length}}</h3> -->
  <!-- <h3>{{questions.length}}</h3> -->
  <button ion-button color='navred' outline (click)='takeQuestion()'>Repeat</button>
  <button ion-button color='navred' outline (click)='next()'>Next</button>
  <button ion-button color='navred' outline (click)='skip()'>Skip</button>
  
  
</ion-content>
