page-practice-test {
    h1{
        font-family: 'Song Myung', serif;
        font-size: 32px
    }
    h2{
        font-family: 'Noto Serif', serif;
    }
    ion-icon{
        color:#1E90FF
    }
    
}
