<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navred" hideBackButton>
    <ion-title style="padding-left:38%">UListen</ion-title>
  </ion-navbar>

</ion-header>


<!-- <ion-content padding>
  <ion-list>
    <h2 style="padding-left:38%">Sign-Up</h2>
      <ion-item>
        <ion-label floating><ion-icon color="navred" style="padding-right:5px;font-size:3rem" name="person"></ion-icon><span>Name</span></ion-label>
        <ion-input type="text" #name></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating><ion-icon color="navred" style="padding-right:5px;font-size:3rem" name="mail"></ion-icon>E-mail</ion-label>
          <ion-input type="email" #email></ion-input>
        </ion-item>
    
      <ion-item>
        <ion-label floating><ion-icon color="navred" style="padding-right:5px;font-size:3rem" name="warning"></ion-icon>Password</ion-label>
        <ion-input type="password" #password></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating><ion-icon color="navred"  style="padding-right:5px;font-size:3rem;" name="lock"></ion-icon>Confirm Password</ion-label>
          <ion-input type="password" #cpassword></ion-input>
        </ion-item>
    
    </ion-list>


<div style="padding-left:34%">
      <button color="navred" ion-button (click)="onRegister()">Register</button>
    </div>
<h5 style="font-size:12px;padding-left:25%">Already have an account?
  <span (click)="onlogin()" style="color:rgb(3, 85, 84)">Log In</span>
</h5>
</ion-content> -->
<ion-content no-bounce padding>

  <ion-row class="app-icon-container">
    <ion-col text-center>
      <ion-icon name="ionic" class="app-icon-zoom"></ion-icon>
    </ion-col>
  </ion-row>

  <form [formGroup]="credentialsForm">

      <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input [formControl]="credentialsForm.controls['name']"
              type="text"></ion-input>
        </ion-item>
    
        <div *ngIf="!credentialsForm.controls.name.valid &&
            credentialsForm.controls.name.dirty"
            class="validator-error">
          Name should have minimum 3 characters
        </div>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [formControl]="credentialsForm.controls['email']"
          type="email"></ion-input>
    </ion-item>

    <div *ngIf="!credentialsForm.controls.email.valid &&
        credentialsForm.controls.email.dirty"
        class="validator-error">
      Please enter a valid email.
    </div>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="credentialsForm.controls['password']"
          type="password"></ion-input>
    </ion-item>

    <div *ngIf="!credentialsForm.controls.password.valid &&
        credentialsForm.controls.password.dirty"
        class="validator-error">
      Please enter a valid password.
    </div>
    <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input [formControl]="credentialsForm.controls['cpassword']"
            type="password"></ion-input>
      </ion-item>
  
      <div *ngIf="!credentialsForm.controls.cpassword.valid &&
          credentialsForm.controls.cpassword.dirty"
          class="validator-error">
        Please enter a valid password.
      </div>

    <ion-row class="sign-in-button-container">
      <ion-col text-center>
        <button ion-button block color="secondary"
            [disabled]="!credentialsForm.valid" (click)="onSignIn()">
          Sign in
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button clear color="light"
            (click)="onForgotPassword()">
          Forgot your password?
        </button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
